.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #09162e;
    overflow: auto;
    
}

.header-container {
    padding: 0 60px;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 5px 05px 5px 05px #03111c;
}

.header-left {
    display: flex;
    align-items: center;
    height: 90px;
}




.header-left-logo {
    width: 120px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: start;
}


@media (max-width: 659px) {
    .nav{
        display: none;
    }
}

.n-item {
    margin-left: 48px;
    font-size: 16px;
    font-weight: 600;
    color: #9a9ab4;
    cursor: pointer;
    padding: 0;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.header-right {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;

}

.connect {
    height: auto;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border: 0 #000;
    color: #fff;
    background-image: linear-gradient(180deg , #2669f5 , #2669f5);
    
}





@media (max-width:677px) {
    .header{
        width: 100%;
    }
    
}


@media (max-width:358px) {
    .header-container{
        padding: 0 11px;
    }
    
    
}








.navNarrow {
    display: none;
}

